body {
    font-family: 'Roboto';
}


h1 {
    border: solid; 
}

img {
    width: 15%;
}

h1, header {
    text-align: center;
}

p.message {
    text-align: center;
}

ul {
    list-style: none;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: nowrap;
  }


